<!-- start custom footer snippets -->

<a rel="Content license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="CC-BY-4.0" style="border-width:0" src="https://img.shields.io/badge/License-CC%20BY%204.0-blue.svg" /></a> 

<a rel="Site source" href="https://github.com/nmstreethran/nmstreethran.github.io"><img alt="GitHub site source" style="border-width:0" src="https://img.shields.io/badge/-Source-blueviolet.svg?logo=github&labelColor=black" /></a>

<!-- end custom footer snippets -->