<!-- start custom footer snippets -->

<a rel="Content license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="CC-BY" style="border-width:0" src="https://img.shields.io/badge/BY-blue.svg?style=flat-square&logo=creative-commons&logoColor=white&labelColor=gray" /></a>

&nbsp;&nbsp;

<a rel="Terms & Privacy" href="/terms/"><img alt="Terms & Privacy" style="border-width:0" src="https://img.shields.io/badge/Terms%20&%20Privacy-E95678.svg?style=flat-square" /></a>

<!-- end custom footer snippets -->