/* ==========================================================================
   Modified neon skin
   colour scheme based on robb0wen/synthwave-vscode
   ========================================================================== */

/* Colors */
$background-color: #2a2139 !default;
$text-color: #fff6fb !default;
$primary-color: #03edf9 !default; 
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 50%) !default;
$link-color: mix(#ff7edb, $primary-color, 25%) !default;
$link-color-hover: mix(#ff7edb, $link-color, 30%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

/* synthwave syntax highlighting (base16) */
$base00: $code-background-color-dark; /* background */
$base01: #282a2e;
$base02: #373b41;
$base03: #969896;
$base04: #495495; /* comments */
$base05: #c5c8c6; /* normal */
$base06: #e0e0e0;
$base07: #ffffff;
$base08: #ff7edb; /* variables */
$base09: #ff7edb; /* variables */
$base0a: #ff7edb; /* names */
$base0b: #ff8b39; /* strings */
$base0c: #fede5d; /* keywords */
$base0d: #72f1b8; /* functions */
$base0e: #fede5d; /* operators; same as 0c */
$base0f: #a3685a;

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

/* next/previous buttons */
.pagination--pager {
  color: $text-color;
  background-color: $primary-color;
  border-color: transparent;

  &:visited {
    color: $text-color;
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}